@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.number-sec {
  width: 100%;
  height: 40vh;
  background-color: #FC8868;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.wrapper {
  width: 15rem;
 
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 2em;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  border-bottom: 4px solid #18f98f;
}

.containers p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: sans-serif;
}

#countdown {
  position: relative;
  top: 0%;
  transform: translateY(0%);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-width: 1px 0;
  overflow: hidden;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

#countdown li {
  margin: 0 -15px 0 0;
  padding: 0;
  display: inline-block;
  width: 25%;
  font-size: 6vw;
  text-align: center;
}

.animated-container {
  width: 28rem !important;
}
 
@media screen and (max-width: 1022px) {
  .number-sec {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 830px) {
  .number-sec {
    flex-direction: column;
    height: 170vh;
  }
}